
/* 设置通配样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* 最外层的父盒子 */
.order{
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    background: url('./assest/bg.gif') no-repeat  center/100%;
    /* background-size: cover; */
}
/* 班级名称 */
.header{
    text-align: center;
    line-height: 200px;
    color:aliceblue
}
/* 日期 */
.header_title{
    text-align: right;
    padding: 20px 60px 20px 20px;
    color:aliceblue;
   font: 24px  '微软雅黑';
}
/* 内容区域左右布局 */
.content{
    display: flex;
    padding: 10px;
    align-items: center;
}
/* 内容区域-左侧布局
   css中字体具有继承性
*/
.left{
    
    width: 60%;
    font-size: 24px;   
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 30px;
}
#selecteName {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/* 右侧样式设置 */
.right{
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.selected>p{
    font-size: 40px;
    color: aquamarine;
    display: inline-block;
    margin-right: 10px;
}
.selected>span{
    font-size: 40px;
}
.right_footer{
    margin-top: 20px;
}
button{
    width: 80px;
    height: 40px;
    background-color: #87BA5A;
    border: none;
    border-radius: 30px;
    color: aliceblue;
    cursor: pointer;
    margin-right: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}